<div id="lhnav">
  <ul>
    <li> <a href="{{site.base}}/"> Home </a></li>
    <li> <a href="{{site.base}}/todo/"> To Do </a></li>
    <li> <a href="{{site.base}}/infra/"> Resources </a></li>
    <li> <a href="{{site.base}}/infra/syllabus/"> Syllabus </a></li>
    <li> <a href="{{site.base}}/about.html"> About </a></li>
  </ul>
</div>
    
<a href="http://www.flickr.com/photos/asirap/5587611705/" title="Android cake pops by asirap, on Flickr"><img src="{{site.base}}/images/android-cakepops.png" width="240" height="160" alt="Android Cake Pops"></a>