<script language="Javascript" type="text/javascript">
<!--
document.write('<a href="mai');
document.write('lto');
document.write(':&#106;&#97;&#100;&#117;&#100;&#109;');
document.write('@');
document.write('&#98;&#101;&#114;&#101;&#97;&#46;&#101;&#100;&#117;">');
document.write('&#106;&#97;&#100;&#117;&#100;&#109;');
document.write('@');
document.write('&#98;&#101;&#114;&#101;&#97;&#46;&#101;&#100;&#117;<\/a>');
// -->
</script><noscript>&#106;&#97;&#100;&#117;&#100;&#109; at 
&#98;&#101;&#114;&#101;&#97; dot &#101;&#100;&#117;</noscript>
