You have never written code. You think mobile devices are the future. And, furthermore, you looked at this chart and realized where the jobs are:

![Computing Employment Trends 400 400]({{site.base}}/images/job-trends-in-computing.png)

We're here to start you on the track to not just playing with a computer, but using it as a powerful tool to capture, transform, and transmit information all over the world. And, while we're at it, <strong>we're going to have a massive ton of fun doing it</strong>.