## Expectations and Attendance

Your role in this class will be very different than what you may have experienced in other courses. To help you see what is expected, take a look at the table below.

<table>
  <tr style="background: #eee;">
    <td> Traditional Classroom <br/> <small>Students shift from...</small></td>
    <td> </td>
    <td> Collaborative Classroom <br/> <small>to...</small></td>
  </tr>
  <tr>
    <td>Listener, observer, and note taker</td>
    <td><i class="icon-arrow-right"> </i></td>
    <td>Active problem solver, contributor, and discussant</td>
  </tr>
  <tr>
    <td>Low or moderate expectations of preparation for class</td>
    <td><i class="icon-arrow-right"> </i></td>
    <td>High expectations of preparation for class</td>
  </tr>

  <tr>
    <td>Private presence in the classroom with few or no risks</td>
    <td><i class="icon-arrow-right"> </i></td>
    <td>Public presence with many risks</td>
  </tr>

  <tr>
    <td>Attendance dictated by personal choice</td>
    <td><i class="icon-arrow-right"> </i></td>
    <td>Attendance dictated by community expectation</td>
  </tr>

  <tr>
    <td>Competition with peers</td>
    <td><i class="icon-arrow-right"> </i></td>
    <td>Collaborative work with peers</td>
  </tr>

  <tr>
    <td>Responsibilities and self-definition associated with learning independently</td>
    <td><i class="icon-arrow-right"> </i></td>
    <td>Responsibilities and self-definition associated with learning interdependently</td>
  </tr>

  <tr>
    <td>Seeing teachers and texts as the sole sources of authority and knowledge</td>
    <td><i class="icon-arrow-right"> </i></td>
    <td>Seeing peers, self, and the community as additional and important sources of authority and knowledge</td>
  </tr>

</table>

<strong>When you miss class, you adversely affect your teammates' performance in the course</strong>. After two unexcused absences, we reserve the right to deduct 5% per absence from your final grade. 

#### Reasons You Might Be Absent

* If you have flu-like symptoms, email us and visit the health center. The Center for Disease Control recommends you stay home for at least 24 hours after the symptoms pass---RESTING. Without evidence from the health center of your visit, you are not excused.

* If you arrive particularly late, leave particularly early, or fail to participate in class, we will consider you absent.

If you miss class, you are responsible for coordinating with your team on what you missed. Missing class, excused or otherwise, does not relieve you of the responsibilities you have to do your work; it just means your absence will not be penalized.
