{% comment %}
**FIXME**: Added from submitted draft syllabus.  To be revised. (December 31, 2012)
{% endcomment %}

## Course Objectives

You will explore three large themes in this course:

### Process

Collaboration, design, and writing code all have a process. Once you understand the process behind it, you can move on to mastery.

This means you will:

* Develop strategies for effective collaboration in a team.
* Practice communicating logical and computational ideas to others.
* Learn to contribute meaningfully to the work of others in a multi-disciplinary team.

### Programming

You will learn the basics of programming in a mobile environment. If you have never written code before, have no fear! It's fun, in much the same way puzzles are---you'll do some great awesome in this course.

This means you will:

* Develop skills in designing and evaluating patterns of logic and reasoning expressed in code
* Learn to design and create mobile apps for phones and tablets.
* Understand widely used programming constructs like variables, assignment statements, loops, and conditional statements.

### People

Every program we write will be experienced by a person. Therefore, you need to think hard about how our programs will be used, and how to make them more appealing and useful to the human being who will use and experience the software you write.

This means you will:

* Learn to follow a design process in which user-centered development is central.
* Understand the limitations of user-centered design.
* See how icons, symbols, colors, and words can have different meanings in different cultures as well as to different people within a culture.
