{% comment %}
**FIXME**: Added from submitted draft syllabus.  To be revised. (December 31, 2012)
{% endcomment %}

## Course Objectives

Students who successfully complete this course will have: 

* Gained aptitude in understanding, designing, and evaluating patterns of logic and reasoning expressed as algorithms.

* Developed the ability to design and create mobile apps for phones and tablets using a computer language for communication.

* Become familiar with widely used computer programming constructs including variables, assignment, looping, and conditional statements. 

* Learned to follow a design process in which user-centered product development is central.

* Be able to describe ways in which a user-centered design process may fail, citing examples.

* Be able to provide examples of how different interpretations that a given icon, symbol, word, or color can have in (a) two different human cultures and (b) in a culture and one of its subcultures.

* Have become more comfortable and effective working in a team setting, particularly in analyzing and communicating logical and computational ideas with others.

Italicized objectives may be expressed differently in the first offering of {{ site.number }}.
