## Materials Online

* We will use Moodle, provided by Berea College, for handing in assignments.
* We can use [Dropbox](http://dropbox.com/) for making sure we never lose our work. [You can sign up online for free](http://db.tt/zgUQOl6A).

## Required Text and Materials

The following are **required**:

1. [Rocket Science Made Easy](http://www.amazon.com/Rocket-Surgery-Made-Easy-Yourself/dp/0321657292)
1. Other readings and course materials provided through Moodle and this course website.


