<!doctype html>
<html>
  <head>
    
    {% include default-css.html %}
    {% include cache-control.html %}
      
    <title> {{ page.title }} | {{ site.title }}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1> {{ site.title }} </h1>
        <p> {{ site.tagline }} </p>
        
          {% include default-nav.html %}
      </header>
      <section>
         {{ content }}
      <div class="push"></div>
         <footer>
           {% include default-footer.html %}
         </footer>
      </section>

      
    </div>
    <script src="{{site.base}}/js/scale.fix.js"></script>
  </body>
</html>